---
import { getCollection } from "astro:content";
import Layout from "@layouts/default.astro";
import BlogList from "@components/BlogList.astro";

export const prerender = true;

const fermentsCollection = await getCollection("ferments");
const ferments = fermentsCollection
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .reverse();

const guidesCollection = await getCollection("guides");
const guides = guidesCollection
  .filter((g) => g.data.tags.includes("fermentation"))
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .reverse();

const ongoingFerments = ferments.filter((p) => p.data.status === "In Progress");
const recentFerments = ferments.filter((p) => p.data.status !== "In Progress");
---

<Layout>
  <h1>Ferments</h1>
  <h2>Ongoing Ferments ({ongoingFerments.length})</h2>
  <BlogList blogs={ongoingFerments} />

  <h2>Recent Ferments ({recentFerments.length})</h2>
  <BlogList blogs={recentFerments} />

  <h2>Fermentation Guides ({guides.length})</h2>
  <BlogList blogs={guides} />
</Layout>
