---
interface Props {
  blogs: any[];
}
const { blogs } = Astro.props;
---

<div class="posts-container">
  {
    blogs.map((post) => {
      return (
        <div class="post-card">
          <a class="post-name" href={`/${post.collection}/${post.slug}`}>
            {post.data.title}
          </a>
          <div class="post-tags">
            {post.data.tags && post.data.tags.sort().map((tag) => {
              return <a href=`/tags/${tag}`>{tag}</a>
            })}
          </div>
          <div class="post-date">
              <span>{post.data.date.toLocaleDateString()}</span>
          </div>
        </div>
      );
    })
  }
</div>

<style>
  .posts-container {
    container-type: inline-size;
  }
  .post-card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0.5rem;
    border-block-start: 1px solid rgba(128, 128, 128, 0.375);
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 300;
    width: 100%;

    @container (min-width: 600px) {
      grid-template-columns: 6fr 4fr 2fr;
      gap: 2rem;
      padding: 0rem 0.5rem;
    }
  }

  a.post-name {
    /* Override default a stylings */
    font-size: 1rem;
    font-weight: var(--font-weight-5);
    text-decoration: none;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }

    @container (min-width: 600px) {
      margin-block: 0.65rem;
    }
  }

  .post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    @container (min-width: 600px) {
      margin-block: 0.65rem;
    }
  }
</style>
