---
interface Props {
  blogs: any[];
}
const { blogs } = Astro.props;
---

<div class="posts-container">
  {
    blogs.map((post) => {
      return (
        <div class="post-card">
          <a class="post-name" href={`/${post.collection}/${post.slug}`}>
            {post.data.title}
          </a>
          <div class="post-tags">
            {post.data.tags && post.data.tags.sort().map((tag) => {
              return <a class="post-tags-a" href=`/tags/${tag}`>{tag}</a>
            })}
          </div>
          <div class="post-date">

              <span>{post.data.date.toLocaleDateString()}</span>
          </div>
        </div>
      );
    })
  }
</div>

<style>
  .posts-container {
    container-type: inline-size;
  }

  a.post-name {
    font-size: 1rem;
    font-weight: var(--font-weight-5);
    margin-block: 0.65rem;
    text-decoration: none;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }

  .post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-block: 1rem;
  }

  .post-tags a {
    background: var(--indigo-5);
    color: white;
    font-weight: var(--font-weight-3);
    padding: 0.3rem 0.3rem;
    border-radius: var(--radius-2);
    text-decoration: none;

    &:hover {
      background: var(--blue-5)
    }
  }


  .post-date {
  }

  .post-card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0;
    border-block-start: 1px solid rgba(128, 128, 128, 0.375);
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 300;
    width: 100%;

    &:hover {
      background: var(--surface-2);
    }
  }

  @container (min-width: 600px) {
    .post-card {
      grid-template-columns: 6fr 4fr 2fr;
      gap: 2rem;
      padding: 0rem 0.5rem;
    }
  }
</style>
