---
import favoriteBooks from "../content/lists/favoriteBooks.json";
import honorableMentionFavoriteBooks from "../content/lists/honorableMentionFavoriteBooks.json";
import publishers from "../content/lists/publishers.json";
---

<h3 id="favorite-books">Favorite Books</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>
  {
    favoriteBooks.map((book) => {
      return (
        <tr>
          <td>
            <a href={book.link}>{book.title}</a>
          </td>
          <td>
            {!!book.authorLink ? (
              <a href={book.authorLink}>{book.author}</a>
            ) : (
              <span>{book.author}</span>
            )}
          </td>
        </tr>
      );
    })
  }
</table>

<h3 id="honorable-mentions">Honorable Mentions</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>
  {
    honorableMentionFavoriteBooks.map((book) => {
      return (
        <tr>
          <td>
            <a href={book.link}>{book.title}</a>
          </td>
          <td>
            {!!book.authorLink ? (
              <a href={book.authorLink}>{book.author}</a>
            ) : (
              <span>{book.author}</span>
            )}
          </td>
        </tr>
      );
    })
  }
</table>

<h3 id="favorite-publishers">Favorite Publishers</h3>

<ul>
  {
    publishers.map((publisher) => {
      return (
        <li>
          <a href={publisher.link}>{publisher.publisher}</a>
        </li>
      );
    })
  }
</ul>

<style></style>
